<h1>New Dynamic server</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dynamic_server_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.dynamic_server_path(@conn, :index) %></span>
