<h3>Protoc Modules</h3>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody id="protoc_modules">
    <%= for {protoc_module, idx} <- Enum.with_index(@protoc_modules, 1) do %>
      <tr>
        <td><%= idx %></td>
        <td><%= inspect(protoc_module) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
